# Hackathon

### imports

In [120]:
import numpy as np
import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline              
import seaborn as sns
import matplotlib.pyplot as plt
sns.set(style="ticks", color_codes=True)
# Million Tonnes of Oil Equivalent

### Consommation monde

In [155]:
df = pd.read_csv('Total_energy_production.csv', header=2)

def clean_data(df):
    df = df.rename(columns={'2000 - 2018 (%/year) ': 'Evolution'})
    #df.nlargest(10, df['Evolution'])
    df.sort_values(by ='Evolution' , ascending=False)
    df = df.drop_duplicates()
    df['Countries']=df.iloc[:,0]
    df.drop(df.filter(regex="Unnamed"),axis=1, inplace=True)
    df=df.set_index('Countries')
    df= pd.to_numeric(df['Evolution'], errors='coerce')
    df=df[:58]

    return df
df_clean = clean_data(df)
df_clean.shape

(58,)

In [149]:
df_clean.head(20)

Countries
World            NaN
OECD             NaN
G7               NaN
BRICS            NaN
Europe           NaN
European Union   NaN
Belgium          NaN
Czech Republic   NaN
France           NaN
Germany          NaN
Italy            NaN
Netherlands      NaN
Poland           NaN
Portugal         NaN
Romania          NaN
Spain            NaN
Sweden           NaN
United Kingdom   NaN
Norway           NaN
Turkey           NaN
Name: Evolution, dtype: float64

In [151]:
df.iloc[:,31][5]

'-1,3'

In [134]:
sns.catplot(x=df.iloc[:,0], y=df.iloc[:,31], data=df);

ValueError: Neither the `x` nor `y` variable appears to be numeric.

In [157]:
a=np.array(df_clean.loc[['Asia','China','Iran','Nigeria']])
b=[k for k in range(1990,n+1990)]

n=len(a[0,:-2])

plt.plot(b,a[0,:-2],'-r*',b,a[1,:-2],'-b*',b,a[2,:-2],'-y*',b,a[3,:-2],'-g*')

NameError: name 'n' is not defined